body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 42px;
}

/*Botões*/
#button-container button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 10px;    
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
#button-container > button:hover {
    background-color: rgb(0, 0, 122);
    transition: .5s;
}

/*Jogo*/
#container {
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    flex: 0 0 33%;
}

#block-1, #block-2, #block-3 {
    border-top: none;
}

#block-1, #block-4, #block-7 {
    border-left: none;
}
#block-7, #block-8, #block-9 {
    border-bottom: none;
}

#block-3, #block-6, #block-9 {
    border-right: none;
}

/*Simbolos (hide)*/
.x {
    font-size: 65px;
    color: red;
    display: inline-block;
    line-height: 100px;
}
.o {
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
}
/*classe esconder */
.hide {
    display: none!important;
}

/*PLACAR*/
.score-box {
    margin: 0 20px;
}

.score-board {
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
    #x-score-board {
        color: red;
        margin-right: 3px;
    }
    #o-score-board {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 3px solid green;
        border-radius: 50%;
        margin-right: 3px; 
    }

/*MSG de Vitoria*/
#message p {
    position: absolute;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 150px;
    max-width: 500px;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 20px;
    margin-right: auto;
}